.waterList {
  display: flex; /* Використовуємо flex для вирівнювання елементів */
  flex-wrap: nowrap; /* Дозволяємо елементам переноситись на новий рядок, якщо потрібно */
  gap: 20px; /* Відстань між елементами */
  justify-content: flex-start; /* Вирівнюємо елементи по лівому краю */
}
