.box {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  text-align: left;
}
.button {
  font-family: var(--font-family);
  margin-top: 32px;
  font-weight: var(--font-weight-bold);
  border: none;
  width: 100%;
  color: var(--grey-color);
  border-radius: 30px;
  height: 50px;
  background: var(--accent-color);
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 56px;
  background-color: transparent;
  text-align: left;
}

@media (min-width: 768px) {
  .box {
    width: 436px;
    margin: 0 auto;
  }

  .title {
    font-size: 36px;
    line-height: 106%;
  }

  .form {
    max-width: 436px;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .button {
    height: 60px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 100%;
    align-items: flex-start;
    padding-top: 66px;
  }
}
