.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
  color: #323f47;
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-container {
  width: 30px;
  height: 30px;
  background: #9be1a0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
}

.icon {
  fill: #323f47;
  transition: 250ms;
}

.icon-container:hover .icon {
  fill: #ffffff;
}
